﻿﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
@foreach (var item in Model)
    {
    <div class="col-md-4 text-center mt-3 mb-3">
        <a href="https://localhost:44346/book/detalle?id=@item.Id"><img src="@item.Caratula" height="200" /></a>
        <div>
@item.Nombre
<br />
<small>@item.Autor</small>
</div>

    </div>

}
</div>
