﻿<h1>
    @Model.Nombre
</h1>

<h3>Añade un comentario</h3>

<form method="post" action="https://localhost:44346/book/comentario?id=@Model.Id">

    @*<input type="hidden" name="Id" value="@Model.Id" />*@

    @*<input type="text" />
        <input type="password" />
        <input type="file" />
        <input type="radio" />
        <input type="checkbox" />
        <input type="date" />
            <select>
            <option value="value">text 1</option>
            <option value="value">text 2</option>
        </select>
    *@

    <textarea rows="10" cols="100" name="detalle">
    </textarea>

    <button>Enviar</button>
</form>

